# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build directories
dist/
build/

# Temporary files
tmp/
temp/

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db
*.pem
*.sqlite

# Environment variables
.env