.markdown {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #24292f;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #d0d7de;
}

.markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d0d7de;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1em;
}

.markdown h5 {
  font-size: 0.875em;
}

.markdown h6 {
  font-size: 0.85em;
  color: #656d76;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown blockquote {
  margin: 0;
  padding: 0 1em;
  color: #656d76;
  border-left: 0.25em solid #d0d7de;
}

.markdown ul,
.markdown ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 2em;
}

.markdown li {
  word-wrap: break-all;
}

.markdown li + li {
  margin-top: 0.25em;
}

.markdown code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.markdown pre {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.markdown pre code {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  word-wrap: normal;
  white-space: pre;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: 600;
}

.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdown table tr {
  background-color: #ffffff;
  border-top: 1px solid #d0d7de;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

.markdown a {
  color: #0969da;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

.markdown strong {
  font-weight: 600;
}

.markdown em {
  font-style: italic;
}
